<%- include('./header.ejs') %>


    <!--About page start-->
    <section class="about-sec">
        
        <div class="container about_page">

            <div class="row">

                <div class="col-md-7 about">
                    <div class="about-part">
                        <h4><strong>About</strong>Us</h4>
                        <p class="text-justify mt-2 Aboutus">UGC provided various mechanisms to resolve the issues and
                            concerns of various stake holders. Because of non-availability of a single window system the
                            stake holders were lodging multiple complaints /grievances at various places. Due to that
                            the redressal mechanisms was at slow pace, which was also causing further concerns to the
                            stake holders. The resolution of Institutional Entity Grievances has always been a top
                            priority of the University Grant Commission. UGC took advantage of ICT enhancements and came
                            up with the "e-Samadhan Online Grievance Registering and Monitoring System" It is a digital
                            platform for Stake holders to identify and apply for grievances/feedback/queries. This
                            platform ensures a time-bound mechanism for redressal of the grievances.</p>
                    </div>
                    <a href="" class="morebtn">More <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></a>
                </div>

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">

                    <div class="motto_section mt-10">

                        <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a href="">
                                    <div class="bluebox">
                                        <h2><span><i class="fa fa-user"></i></span>Students</h2>
                                    </div>
                                </a>

                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a href="">
                                    <div class="bluebox">
                                        <h2><span><i class="fa fa-user"></i></span>Teaching faculity</h2>
                                    </div>
                                </a>

                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a href="">
                                    <div class="bluebox">
                                        <h2><span><i class="fa fa-user"></i></span>Non Teaching Staff</h2>
                                    </div>
                                </a>

                            </div>


                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <a href="">
                                    <div class="bluebox">
                                        <h2><span><i class="fa fa-building"></i></span>Institute/University</h2>
                                    </div>
                                </a>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
    <!--About page end-->

<%- include('./footer.ejs') %>

