<%- include('./header.ejs') %>

    <section class="benefit-page">
        <div class="benefits">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="page-title">Benefits</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="redressal-system">

        <div class="container">
            <div class=" row row-main">
                <div class="col-md-12">
                    <div class="main-content">
                        <h2 class="mt-4">Benefits</h2>
                        <div class="bar2"></div>

                    </div>
                </div>

                <div class="col-lg-5">
                    <div class="benefit-img">
                        <img src="image/benefits-image.png"
                            class="img-fluid mb-4">
                    </div>
                </div>

                <div class="col-lg-7">
                    <div class="main-content">
                        <p>The prime benefit of Grievance-portal is to make users get solved their problems easily by using
                            the online complaint system. Files are kept confidential and publishing/sharing of the
                            complaint will not happen in any case with this online system. The system can be used by
                            institute stakeholders to raise their grievance and it is taken up by the officer incharge
                            of specific category to give best solution to the problem. The user-friendly interface of
                            the system reduces the distance and time barrier between users and institute management to
                            create responsive and cordial situation in the institute.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <%- include('./footer.ejs') %>