<%- include('./header.ejs') %>

    <!--Features main page start-->
    <section class="feature-page">
        <div class="features">
            <div class="row row-main justify-content-center">

                <div class="col-12 col-md-8">
                    <div class="d-flex align-items-center justify-content-center head-align">
                        <h1 class="align-middle text-center">Features</h1>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Features page end-->



    <!--Features content start-->
    <section class="features-content">
        <div class="container">
            <div class="row row-main">


                <div class="col-md-12">
                    <div class="main-content">

                        <h2 class="mt-4">Features</h2>
                        <p>The Grievance Redressal System the latest productivity enhancement tool for higher education
                            has umpteen features that make it appealing to educational institutions worldwide. The
                            separate dashboard for students, teachers, parents and non-teaching staff in addition to
                            admin and grievance cell members helps to maintain confidentiality in grievance dealing
                            procedure. It gives opportunity for the institution to implement a set of specific measures
                            to ensure accountability and maximum output, by managing grievances of the stakeholders and
                            increasing transparency thereby establishing a very positive ambience</p>

                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-4">
                <div class="main-content">
                    <h3 class="mt-2">User Interface at-a-glance</h3>

                    <ul class="mark-dot">
                        <li>Post complaints by students, teachers, parents an other staff"</li>
                        <li>Own account to edit and reset profile</li>
                        <li>View status of the complaints posted</li>
                        <li>View notifications from the grievance cell members
                        </li>
                        <li>‘Reminder’ option to give alert reminding pending issues</li>
                        <li>'Reopen’ option to recommence the case for further investigation</li>
                        <li>Provision to give detailed account of the complaint in not less than 4000 words</li>
                        <li>Attach supporting files in favour of the complaint/grievance</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-12 mb-4">
                <div class="main-content">
                    <h3 class="mt-2">Admin Interface at-a-glance</h3>

                    <ul class="mark-dot">
                        <li>Account Settings to edit and reset admin profile</li>
                        <li>Create and monitor accounts of grievance committee.</li>
                        <li>Add head of the institution and a management representative in the cell</li>
                        <li>Option to verify and approve registered users checking their authenticity </li>
                        <li>View complaints sent by the users</li>
                        <li>Check the authenticity of complaints</li>
                        <li>Add grievance cell members</li>
                        <li>Generate reports on a monthly basis in word/pdf/excel format</li>
                    </ul>
                </div>
            </div>


            <div class="col-md-12 mb-4">
                <div class="main-content">
                    <h3 class="mt-2">Dean Interface at-a-glance</h3>

                    <ul class="mark-dot">
                        <li>Account Settings to edit and reset admin profile</li>
                        <li>Create and monitor accounts of grievance committee.</li>
                        <li>Add head of the institution and a management representative in the cell</li>
                        <li>Option to verify and approve registered users checking their authenticity </li>
                        <li>View complaints sent by the users</li>
                        <li>Check the authenticity of complaints</li>
                        <li>Add grievance cell members</li>
                        <li>Generate reports on a monthly basis in word/pdf/excel format</li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    <!--Features content end-->

    <%- include('./footer.ejs') %>