<%- include('./header.ejs') %>


    <!--Grievance  main page start-->
    <section class="redressal">
        <div class=" container-fluid Grievance_page">
            <!-- <img
                src="image/grievance-main.jpg"> -->

            <div class="row">

                <div class="col-lg-6 col-md-8 col-sm-8 col-8">
                    <div class="main-content-home">

                        <h6 class="mt-4">India most trusted <br>
                            Grievance Redressal System
                        </h6>

                        <ul class="mark-dot">
                            <li>Indian Product, Global Presence</li>
                            <li>Developed as per AICTE Norms</li>
                            <li>Installed at over 2000 AICTE affiliated colleges
                                Request Free Demo</li>
                        </ul>

                        <!-- <a href="">
                            <button type="button" class="button-3 mb-5 mt-5">Request Free Demo</button>
                        </a> -->
                    </div>
                </div>



            </div>

        </div>
    </section>
    <!--Grievance main page end-->



    <!--Redressal system start-->
    <section class="redressal-system">

        <div class="container">
            <div class=" row row-main">
                <div class="col-md-12">
                    <div class="main-content">
                        <h2 class="mt-4">Grievance Redressal System</h2>
                        <div class="line-dec"></div>
                        <p>Grievance Redressal System is a mechanism commonly used to receive and act on complaints or
                            grievances reported by stakeholders of private or public institutions, enabling prompt
                            actions on any issue raised by them and to avail services more effectively.Unlike the
                            traditional Grievance Redressal approach through letters and complaint forms, the new online
                            based approach such as grievance portals have very great appeal and its usage highly
                            reflects the actual state of customer satisfaction.Grievance Redressal can be handled
                            directly by institutes through their own websites.</p>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="content-img">
                        <img src="https://edugrievance.com/image/home-what-makes-us-unique-content-img.png"
                            class="img-fluid mb-4">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="main-content">
                        <p>Also the smart web portal for grievance processing connects stakeholders and action-takers
                            directly through online platform. Grievance Redressal System helps to pursue quick action
                            for solving the grievance, while maintaining affordability and ease to the users.Online
                            grievance redressal mechanism in higher education institutions facilitates the main
                            constituents of the institute including students, parents, teachers and other non-teaching
                            staff to lodge grievances and ensure satisfactory solutions in a hassle-free manner.
                            Effective and timely redressal or settlement of the grievances makes grievance redressal
                            system mandatory in higher education institution, according to the Ministry of Human
                            Resource Development (MHRD), Government of India.</p>
                            <a href="">
                                <button type="button" class="button-3 mb-5 mt-5">Know more</button>
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Redressal system end-->
    


    <%- include('./footer.ejs') %>