<%- include('./header.ejs') %>


 <!--First page start-->
 <div class="page-cover">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- <img src="https://www.hoteltouristdeluxe.com/images/Banners/Contact-Banner.jpg"> -->
                <h1 class="page-title">How May I Help You</h1>
            </div>
        </div>
    </div>
</div>
<!--First page end-->



<!--Contact form start-->
<section class="contact-form">
    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-lg-6">
                <div class="text-left">
                    <h2 class="footer-heading"><span>CONTACT INFORMATION</span></h2>
                    <ul class="list-unstyled add">
                        <span>Solanki Marg Ram Nagar Paharganj New Delhi – 110055</span>
                        <li>+91-11-23670985 to 23670987.</li>
                        <li>+91-7669520206 (10 am to 7 pm)</li>
                        <li>9643792773 (24 x 7)</li>
                        <li>Info@traveltoursite.com</li>
                    </ul>
                    <br>
                    <ul class="list-unstyled list-inline contact-social">
                        <li><strong>Find Us On</strong></li>
                        <li><i class="fa-brands fa-square-facebook"></i></li>
                        <li><i class="fa-brands fa-square-instagram"></i></li>
                        <li><i class="fa-brands fa-square-twitter"></i></li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-12 col-lg-6">
                <div class="row">
                    <div class="leave">
                        <h3 class="text-center ms-5">LEAVE A MESSAGE</h3>
                    </div>

                    <form>
                        <!-- <div class="col-sm-6 slide-right-vis"> -->

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Name" name="name" required>
                        </div>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Email" name="email" required>
                        </div>

                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Phone" name="phone" required>
                        </div>
                        <!-- </div> -->

                        <div class="container">
                            <div class="row">
                                <div class="slide-left-vis">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Your Message"
                                            required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 butn text-center">
                            <input type="submit" value="Submit" class="btn btn-default cont-sub">
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</section>
<!--contact form end-->

<%- include('./footer.ejs') %>