<%- include('./header.ejs') %>

<% if(msg.length>0){ %>
    <div class="alert alert-danger ">
      <%= msg %>
    </div>
    <% } %>

    <!--main sectio start-->
    <section class="main">
        <div class="container-fluid main-body">

            <div class="row">

                <div class="col-lg-5 main-cont">
                    <h1><span>ITM </span><br>Grievance Portal</h1>
                    <p>#1 Online Grievance Redressal Mechanism designed in accordance with<br> AICTE directive aims at
                        resolving the grievances of students, parents, staff<br> and others with optimal transparency
                        and
                        accuracy..</p>

                    <button class="cn"><a href="">Join us</a></button>

                </div>
            </div>

        </div>
    </section>
    <!--main section end-->



    <!-- icons section start here -->
    <!-- <section class="icons">
        <div class="container small">
            <div class="row">
                <div class="col-lg-6">

                </div>

                <div class="col-lg-6 icons-list">
                    <div class="d-inline-flex">
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="" class="me-4 text-reset">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section> -->
    <!--icons section end-->


    <!--Why grievance redressal section start-->
    <section class="grievance">

        <div class="container-fluid why">

            <div class="row">
                <div class="col-md-12 text-center mt-5">
                    <h2>Why</h2>
                    <h3 class="mb-4">Grievance Redressal System?</h3>
                </div>

                <div class="col-lg-6">
                    <div class="content-img">
                        <img src="https://edugrievance.com/image/home-grievance-redressal-system-content-img.png"
                            class="img-fluid mb-4">
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="main-content">
                        <p>The Grievance Redressal Cell has been developed to settle the grievances of the students and
                            other stakeholders within a reasonable time period for further strengthening the bond of the
                            students with the institution by providing them with all kind of facilities to a
                            satisfaction level for maintaining a convenient ambience of academic teaching and learning.
                            Oréll believes that providing on time and competent service is essential not only to
                            attract new customers, but also to retain existing ones. EduGrievance, the revolutionary
                            online grievance handling mechanism aims at minimising instances of complaints in
                            professional colleges through effective tracking and monitoring of grievances ensuring
                            prompt
                            redressal. ITMGrievance, the revolutionary online grievance handling mechanism aims at
                            minimising instances of complaints in professionalcolleges through effective tracking and
                            monitoring of grievances ensuring prompt redressal.
                        </p>
                    </div>
                    <button type="button" class="button button-1"> Know more</button>
                </div>
            </div>
        </div>

        </div>
    </section>
    <!--Why grievance redressal section end-->


    <!--Complain section here-->
    <section class="info">

        <div class="container-fluid complain">

            <div class="col-lg-4 student d-block ">
                <img src="https://americancollege.edu.in/wp-content/uploads/2018/08/hp2-col-4.jpg">
                <div class="img-title">
                    <h2>Students</h2>
                    <!-- <a href="/studentlogin"><p>click here</p></a> -->
                    <button data-bs-toggle="modal" data-bs-target="#login" type="button"
                        class="btn loginbt">Login</button>
                </div>

            </div>

            <div class="col-lg-4 faculity">
                <img src="	https://americancollege.edu.in/wp-content/uploads/2020/07/asas.jpg">

                <div class="img-title">
                    <h2>Dean/Principal</h2>
                    <!-- <p><a href="/deanlogin">
                        click here</a></p> -->
                    <button data-bs-toggle="modal" data-bs-target="#admin" type="button"
                        class="btn loginbt">Login</button>
                    </div>
            </div>

            <div class="col-lg-4 parent">
                <img src="https://americancollege.edu.in/wp-content/uploads/2018/08/hp2-col-1.jpg">

                <div class="img-title">
                    <h2>Handler&Admin</h2>
                    <!-- <a href="/adminlogin"> <p>click here</p></a> -->
                    <button data-bs-toggle="modal" data-bs-target="#principal" type="button"
                        class="btn loginbt">Login</button>
                </div>
            </div>
        </div>
    </section>
    <!--complain section end-->


    <!--Academic unit section start-->
    <section class="section-4">

        <div class="container">
            <div class="row">

                <div class="col-md-12">
                    <h2 class="heading-2">Academic unit</h2>
                    <div class="bar"></div>
                </div>

                <div class="owl-stage-outer">

                    <div class="owl-stage">

                        <div class="owl-item active">

                            <div class="box-3">

                                <a href="">
                                    <div class="icon">
                                        <img
                                            src="	https://utkaluniversity.ac.in/wp-content/uploads/2021/03/department.png">
                                    </div>
                                    <h3>Department</h3>
                                </a>
                            </div>
                        </div>


                        <div class="owl-item active">

                            <div class="box-3">

                                <a href="">
                                    <div class="icon">
                                        <img src="https://utkaluniversity.ac.in/wp-content/uploads/2021/03/financial-icon.png
                            ">
                                    </div>
                                    <h3>Self Financed Courses</h3>
                                </a>
                            </div>
                        </div>


                        <div class="owl-item active">

                            <div class="box-3">

                                <a href="">
                                    <div class="icon">
                                        <img
                                            src="	https://utkaluniversity.ac.in/wp-content/uploads/2021/03/center-of-ex.png">
                                    </div>
                                    <h3>Centers of Excellence</h3>
                                </a>
                            </div>
                        </div>



                        <div class="owl-item active">

                            <div class="box-3">

                                <a href="">
                                    <div class="icon">
                                        <img src="https://utkaluniversity.ac.in/wp-content/uploads/2021/03/center.png">
                                    </div>
                                    <h3>Schools / Centres</h3>
                                </a>
                            </div>
                        </div>



                        <div class="owl-item active">

                            <div class="box-3">

                                <a href="">
                                    <div class="icon">
                                        <img src="https://utkaluniversity.ac.in/wp-content/uploads/2022/01/campus.png">
                                    </div>
                                    <h3>Campus</h3>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Academic section end-->


    <!-- Button trigger modal -->


    <!-- Modal Login -->
    <div class="modal fade" id="login" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Student login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal principal -->
    <div class="modal fade" id="admin" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="admin">Admin login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal admin-->
    <div class="modal fade" id="principal" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="principal">Principal login</h1>
                    <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="/verifylogin" method="post">
                        <div class="mb-3">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label>Password</label>
                            <input type="password" name="password" class="form-control" required>
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>



    <%- include('./footer.ejs') %>