<%- include('./header.ejs') %>

    <% if(msg.length>0){ %>
        <div class="alert alert-danger ">
            <%= msg %>
        </div>
        <% } %>

            <!--main section start-->
            
            <section class="main">
                <div class="container-fluid main-body">

                    <div class="container">

                    <div class="row">

                        <div class="col-lg-6 col-md-8 col-sm-8 col-8">
                            <div class="main-cont ">
                            <h1 ><span>ITM </span><br>Grievance Portal</h1>
                            <p class="mt-4">#1 Online Grievance Redressal Mechanism designed in accordance with<br> AICTE directive
                                aims at
                                resolving the grievances of students, parents, staff<br> and others with optimal
                                transparency
                                and
                                accuracy..</p>

                            <button class="cn"><a href="">Join us</a></button>
                        </div>

                        </div>
                    </div>
                </div>

                </div>
            </section>
            <!--main section end-->


            <!--Why grievance redressal section start-->
            <section class="grievance">

                <div class="container-fluid why">

                    <div class="row py-4">
                        <div class="col-md-12 text-center mt-5">
                            <h2>Why</h2>
                            <h3 class="mb-4">Grievance Redressal System?</h3>
                        </div>

                        <div class="col-lg-6">
                            <div class="why-img">
                                <img src="image/home-secondimg.png" class="img-fluid mb-4">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="main-content">
                                <p>The Grievance Redressal Cell has been developed to settle the grievances of the
                                    students and
                                    other stakeholders within a reasonable time period for further strengthening the
                                    bond of the
                                    students with the institution by providing them with all kind of facilities to a
                                    satisfaction level for maintaining a convenient ambience of academic teaching and
                                    learning.
                                    Oréll believes that providing on time and competent service is essential not only to
                                    attract new customers, but also to retain existing ones. EduGrievance, the
                                    revolutionary
                                    online grievance handling mechanism aims at minimising instances of complaints in
                                    professional colleges through effective tracking and monitoring of grievances
                                </p>
                            </div>
                            <button type="button" class="button button-1"> Know more</button>
                        </div>
                    </div>
                </div>

                </div>
            </section>
            <!--Why grievance redressal section end-->


            <!--Complain section here-->
               <section class="info ">
                <div class="container-fluid complain">
                    
                    <div class="row">
                        <div class="col-md-4 student ">
                            <!-- <img src="image/student.jpg"> -->

                            <div class="img-title">
                                <h2>Students</h2>

                                <button data-bs-toggle="modal" data-bs-target="#login" type="button"
                                    class="btn loginbt">Login</button>
                            </div>

                        </div>

                        <div class="col-md-4 dean">
                            <!-- <img src="image/dean-principal.jpg"> -->

                            <div class="img-title">
                                <h2>Dean/Principal</h2>
                                <button data-bs-toggle="modal" data-bs-target="#admin" type="button"
                                    class="btn loginbt">Login</button>
                            </div>
                        </div>

                        <div class="col-md-4 handler">
                            <!-- <img src="image/Handler-admin.jpg"> -->
                            <div class="img-title">
                                <h2>Handler&Admin</h2>
                                <button data-bs-toggle="modal" data-bs-target="#principal" type="button"
                                    class="btn loginbt">Login</button>
                            </div>
                        </div>

                    </div>
               
                </div>
            </section> 
            <!--complain section end-->

            

            <!--At a glance section start-->
            <section class="five-icon">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <h2 class="heading text-center">At a glance</h2>
                            <div class="bar"></div>
                        </div>
                    </div>

                    <div class="col-md-12 icons-container">
                        <div class="row icon-row">

                            <div class="col-md-1"></div>

                            <div class="col-md-2 icons">
                                <div class="counter">
                                    <i class="ungraduate-students">::before</i>

                                    <h2 class="count-number">103,000</h2>
                                    <p class="count-text">Undergraduate students</p>
                                </div>
                            </div>


                            <div class="col-md-2 icons">
                                <div class="counter">
                                    <i class="postgraduate-students">::before</i>

                                    <h2 class="count-number">4,700</h2>
                                    <p class="count-text">Postgraduate students</p>
                                </div>
                            </div>


                            <div class="col-md-2 icons">
                                <div class="counter">
                                    <i class="faculty">::before</i>

                                    <h2 class="count-number">117</h2>
                                    <p class="count-text">Faculty</p>
                                </div>
                            </div>


                            <div class="col-md-2 icons">
                                <div class="counter">
                                    <i class="non-teaching-staff">::before</i>

                                    <h2 class="count-number">343</h2>
                                    <p class="count-text">Non teaching staff</p>
                                </div>
                            </div>
                            
                            <div class="col-md-2 icons">
                                <div class="counter">
                                    <i class="doctoral-students">::before</i>

                                    <h2 class="count-number">119</h2>
                                    <p class="count-text">Doctoral students</p>
                                </div>
                            </div>

                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>


                <!-- <div class="col-md-2">
                            <img src="	https://utkaluniversity.ac.in/wp-content/uploads/2021/03/department.png">
                        </div>
                        <div class="col-md-2">
                            <img src="	https://utkaluniversity.ac.in/wp-content/uploads/2021/03/department.png">
                        </div>
                        <div class="col-md-2">
                            <img src="	https://utkaluniversity.ac.in/wp-content/uploads/2021/03/department.png">
                        </div>
                        <div class="col-md-2">
                            <img src="	https://utkaluniversity.ac.in/wp-content/uploads/2021/03/department.png">
                        </div>
                        <div class="col-md-1">
                        </div> -->
                </div>
                </div>
            </section>
             <!--At a glance section end-->



             <!-- Button trigger modal -->
            
            <!-- Modal Login -->
            <div class="modal fade" id="login" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Student login</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/verifylogin" method="post">
                                <div class="mb-3">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <button class="btn btn-success">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Modal principal -->
            <div class="modal fade" id="admin" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="admin">Admin login</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/verifylogin" method="post">
                                <div class="mb-3">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <button class="btn btn-success">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Modal admin-->
            <div class="modal fade" id="principal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="principal">Principal login</h1>
                            <button type="submit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/verifylogin" method="post">
                                <div class="mb-3">
                                    <label>Email</label>
                                    <input type="email" name="email" class="form-control" required>
                                </div>
                                <div class="mb-3">
                                    <label>Password</label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <button class="btn btn-success">Submit</button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            
            <%- include('./footer.ejs') %>
