* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}


.navbar .nav-item .nav-link,
.navbar .nav-item .nav-link.active {
  color: white;
  font-weight: bold;
  margin-top: -35px;
  padding-top: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.itm_logo {
  height: 65px;
  /* margin: 8px -31px 0px; */

}


/* header css end here */


/* Main section Css start here */

.main-body {
  background: linear-gradient(to top, rgb(0 0 0 / 26%)50%, rgb(0 0 0 / 26%)50%), url(../../image/firstpage.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;

  height: 880px;
}

/* main section css start */

.main-cont {
  /* margin-top: 248px;
  margin-left: 140px;
  text-align: center; */
  /* width: 1200px;
  height: auto;
  margin: auto;
  color: #fff;
  position: relative; */
  margin-top: 45%;

}

.main-cont h1 {
  color: #ffffff;
  font-family: 'Times New Roman';
  font-size: 50px;
   /* padding-left: 20px;
  margin-top: 20%; */
  letter-spacing: 2px; 
  font-weight: 700;
}


.main-cont p {
  font-weight: 500;
  line-height: 2;
  text-align: left;
color:#fff;
}

.main-cont .cn {
  width: 160px;
  height: 40px;
  background: #9f0306;
  border: none;
  margin-bottom: 10px;
  margin-left: 18px;
  border-radius: 10px;
  cursor: pointer;

}

.main-cont .cn a {
  text-decoration: none;
  color: #fff;
  transition: .3s ease;
}

.main-cont span {
  color: #9f0306;
  font-family: 'FontAwesome';
  font-size: 75px;
}


.main-img {
  margin-left: 212px;
  margin-top: 57px;
}

.main-img img {
  height: 556px;
}

/* main section css end */




/* Icon section css start */
.small {
  /* margin: 0 auto;
    max-width: 1000px; */
  height: 80px;
  margin-top: 115px;
}

.icons-list {
  padding-left: 265px;
  font-size: 21px;
  color: #00a99d;
  margin-top: -27px;
}

/* Icon css end here */





/* why grievance css start here */
.grievance {
  margin-top: -36px;
}

.why {
  /* 
  background: #04040485; */
  background: #0404048c;
  margin-top: 36px;
  padding: 30px
}

.why h3 {
  font-size: 32px;
  font-weight: 600;
  color: #10100f;

}

.why h2 {
  font-size: 37px;
  font-weight: 600;
  color: #9f0306;
  margin-top: -30px;
}

.why-img {
  margin-left: 105px !important;
}

.bar2{
  height: 5px;
  width: 95px;
  background: #b4daf7;
  margin: 15px auto;
  position: relative;
  border-radius: 30px;
  margin-top: -21px;
}

.main-content {
  margin-right: 80px;
  /* margin: 34px; */
}

.main-content p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fff;
  margin-top: 18px;

}

.button-1 {
  background-color: #6B5995;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  height: 30px;
  line-height: 0;
}

/* why grievance css end */





/* Complain section css satrt here */

 .student {
  position: relative;
 background: url(../../image/student.jpg) no-repeat;
 background-position: center;
 background-size: cover;
 height: 400px;

}

.dean {
  position: relative;
background: url(../../image/deanprincipal.jpg) no-repeat;
background-position: center;
background-size: cover;
height: 400px;

}

.handler {
  position: relative;
   background: url(../../image/Handleradmin.jpg) no-repeat;
   background-position: center;
   background-size: cover;
   height: 400px;
   
}

.img-title {
  position: absolute;
  color: #fff;
  text-align: center;
  left: 0%;
  right: 0;
  top: 45%;
  letter-spacing: 1px;

}

.btn {
  width: 34%;
  background-color: #ffff;
  padding: 9px 0;
  color: #363636;
  font-weight: bold;
  /* text-transform: uppercase; */
}


/* Complain section css end */




/* At glance CSS start here */


.five-icon {
  /* background-color:#3d3d3d; */
  background: #282828c9;
  color: #fff;
  padding: 70px 0;
}

.icon-row {
  text-align: center;
}

.counter {
  margin-top: 27px;
  margin-bottom: 30px;
}

.counter i {
  width: 80px;
  height: 80px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 38px;
  line-height: 78px;
  color: #f8dd8c;
  content: "";
  display: inline-block;
  color: transparent;
  position: relative;
}

.bar {
  height: 5px;
  width: 90px;
  background: #b4daf7;
  margin: 15px auto;
  position: relative;
  border-radius: 30px;
}

.counter i:before {
  content: '';
  background: url(../../image/Students.png) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: 50px;
  background-position: center;
}

.count-number {
  margin: 10px 0 10px;
  font-weight: bold;
  font-size: 36px;
  color: #ffffff;
}

.count-text {
  color: #ffffff;
}

i.postgraduate-students:before {
  background: url(../../image/Postgraduate-Students.png) no-repeat;
  background-size: 43px;
  background-position: center;
}

i.faculty:before {
  background: url(../../image/Faculty.png) no-repeat;
  background-size: 43px;
  background-position: center;
}

i.non-teaching-staff:before {
  background: url(../../image/Non-Teaching-Staff.png) no-repeat;
  background-size: 43px;
  background-position: center;
}

i.doctoral-students:before {
  background: url(../../image/Doctoral-students.png) no-repeat;
  background-size: 43px;
  background-position: center;
}

/* At glance css end here */



/* Footer css start here */
/* .middle-footer {
  background-color: #363636 !important;
} */

.first-footer {
  /* background-color: rgb(242 139 17 / 72%) !important; */
  background-color: #363636 !important;
  color: #fff !important;
}

.middle-footer .foot1 h2 {
  font-size: 18px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  color: #ffffff;
  margin-top: 5px;
  margin-bottom: 0px;
}

.middle-footer .foot1 p {
  /* letter-spacing: 1px; */
  font-family: sans-serif;
  line-height: 2;

}

.middle-footer .foot1 ul li a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-left: 12px;

}

.middle-footer .foot1 ul li {
  margin-left: -20px;
  list-style: none;
}

.middle-footer .line-dec {
  width: 25%;
  height: 1px;
  background-color: #f5a425;
  margin: 25px 0px;
}

/* Footer css end here */




/* About page Css start */

.about-sec {
  background: #0000004f;
}

.about_page {

  padding: 68px;

}

.about {
  margin-top: 100px;
}

.about-part h4 {
  color: #DD6333;
  text-align: start;
  text-transform: uppercase;
  font-size: 29px;
}

.about-part p {
  color: #090909;
  font-size: 16px;
  line-height: 27px;
  font-weight: 500;
}

.morebtn {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  background: #0D244F;
  padding: 10px 26px;
}

.motto_section {
  /* float: left; */
  margin-top: 145px;
  margin-left: 65px;
}

.bluebox {
  width: 100% !important;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  margin-bottom: 26px;
  border-bottom-right-radius: 30px;
  border: 1px solid;
  box-shadow: 5px 6px 0 #ef781b;
  background: #fff;
}

.bluebox h2 {
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;
  font-weight: 600;
  color: #535353;
}

.bluebox h2 span {
  font-size: 32px;
  background: #001e4c;
  color: #fff;
  padding: 0 10px;
  /* margin-right: -1px; */
  display: block;
  width: 50px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border-radius: 100px;
  margin-bottom: 10px;
}

/* About page CSs end */




/* Grievance Redressal page start  */

.Grievance_page {
  background: url(../../image/grievance-main.jpg) no-repeat;
  background-position: cover;
  width: 100%;
  height: 440px;
  position: relative;

}

.main-content-home {
  margin-top: 70px;
  position: absolute;
  top: 15%;
  left: 7%;
}

.main-content-home h6 {
  font-size: 40px;
  font-weight: 600;
  color: #9f0306;
  font-family: fangsong;
}

.main-content-home p {
  font-weight: 500;
  line-height: 2;
  text-align: left;
  color: #0D244F;
}

.mark-dot {
  list-style: none;
}

.main-content-home li {
  font-size: 15px;
  color: #ffff;

}

.button-3 {
  background-color: #6B5995;
  color: #fff;
  border-radius: 8px;
  padding: 16px;
  font-size: 16px;
  height: 30px;
  line-height: 0;
  margin-left: 30px;
}


.row-main {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.main-content p {

  font-size: 1rem;
  font-weight: 500;
  line-height: 2;
  color: #212529;
  margin-top: 30px;
  margin-left: 52x;
}

.redressal-system {
  padding: 5px 0 22px;
}

.main-content h2 {
  font-size: 37px;
  font-weight: 600;
  color: #30215a;
  text-align: center;
  margin: 35px;
}

/* Grievance page CSS  end */



/* Features page CSS start */
.features {
  background: linear-gradient(rgba(24, 29, 56, .7)30%, rgba(107, 89, 149, 1)100%), url(../../image/features-main.jpg);
  min-height: 380px;
  width: 100%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  position: relative !important;

}

.head-align {
  height: 380px;
}

.features h1 {

  font-size: 52px;
  color: #fff;
  font-weight: 500;
}

.mark-dot li::before {
  content: "\2022";
  color: #6B5995;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: 1em;
  line-height: 2;
}

/* Features Css end here */



/*Contact CSS start */
.page-cover {
  text-align: center;
  padding-top: 270px;
  padding-bottom: 95px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(https://www.hoteltouristdeluxe.com/images/Banners/Contact-Banner.jpg)0% 74%;
  background-size: cover;

}

.page-cover h1 {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-family: cursive;

}


.contact-form {
  /* background-color: #3A1F04; */
  background: #282828c9;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  top: 0px;

}

.leave {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  margin-left: -40px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group textarea {
  margin: 0 -10px;
  width: 104%;
  height: 144px;
  padding-top: 16px;
}

.form textarea {
  font-size: 14px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.form-control {
  box-shadow: none;
  background: #f3f4f4;
  border-color: #e6e7e8;
  height: 53px;
  font-size: 14px;
  margin-bottom: 30px;
  padding-left: 20px;
  display: block;
  width: 100%;
}

.slide-left-vis {
  float: left;
}

.submit-btn {
  width: 100%;
  padding: 12px 0px;
  background: #3db166;
  color: #3a1f04;
  text-transform: uppercase;
  font-weight: bold;
}

/* Contact Css  end here */


/* Benefits CSS Start here */
.benefits {
  text-align: center;
  padding-top: 330px;
  padding-bottom: 170px;
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../../image/benefits-main.avif)0% 35%;
  background-size: cover;

}

